:root {
    --error: hsl(0, 100%, 67%);
    --accent: hsl(259, 100%, 65%);

    --neutral100: #fff;
    --neutral200: hsl(0, 0%, 94%);
    --neutral300: hsl(0, 0%, 86%);
    --neutral500: hsl(0, 1%, 44%);
    --neutral900: hsl(0, 0%, 8%);
}

@custom-media --mobile (max-width: 768px);

body {
    background-color: var(--neutral200);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

main {
    display: grid;
    place-items: center;
    height: 100dvh;
}

.ageForm {
    background-color: var(--neutral100);
    border-radius: 2rem;
    border-bottom-right-radius: 8rem;
    padding: 4rem;
    max-width: 50rem;
    display: grid;
    grid-template-areas:
        "inputs ."
        ". submit"
        "results .";
    grid-template-columns: 3fr 1fr;

    @media (--mobile) {
        grid-template-areas:
            "inputs"
            "submit"
            "results";
        grid-template-columns: 1fr;
        padding-inline: 2rem;
    }
}

button {
    margin-left: auto;
    border-radius: 50%;
    background-color: var(--accent);
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    grid-area: submit;

    &:hover {
        background-color: var(--neutral900);
    }

    @media (--mobile) {
        margin-inline: auto;
    }
}

hr {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
    align-self: center;
    color: var(--neutral300);
}


.inputs {
    display: flex;
    gap: 2rem;
    grid-area: inputs;

    @media (--mobile) {
        margin-bottom: 2rem;
    }
}

.inputWrapper {
    display: flex;
    /* So we can select an element following an invalid input */
    flex-direction: column-reverse;
    gap: 0.25rem;
    flex: 1;
    color: var(--neutral500);

    & label {
        text-transform: uppercase;
        letter-spacing: 0.25ch;
        font-size: small;
    }

    & input {
        padding: 1rem;
        font-size: 2rem;
        width: 100%;
        border: 1px solid var(--neutral900);
        border-radius: 0.5rem;

        &:focus,
        &:active {
            border: 1px solid var(--accent) !important;
        }

        &:invalid:not(:focus):not(:placeholder-shown) {
            border-color: var(--error);

            &+label {
                color: var(--error);
            }
        }

        @media (--mobile) {
            font-size: 1.5rem;
        }
    }

    & .error {
        height: 1em;
        color: var(--error);
        font-weight: 400;
        font-style: italic;
    }
}

.results {
    font-weight: 800;
    font-style: italic;
    font-size: 4rem;
    grid-area: results;

    #years,
    #months,
    #days {
        color: var(--accent);
    }

    @media (--mobile) {
        font-size: 3rem;
    }
}